a, 
.welcome h2 b, 
.action-btn:hover,
.contact h5 i,
.contact p a:hover,
.contact-form-result h3,
.social li a:hover {
	color:#0fe0ba;
}

.flip-val {
	color:#0fe0ba !important;
}

.action-btn {
	background:#0fe0ba;
}

.section-title hr:after,
#zoom-in:hover, #zoom-out:hover,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color:#0fe0ba !important;
}

#zoom-in, #zoom-out {
  	background-color:rgba(15, 224, 186, 0.8);
}

.page-loader .loading span,
.contact-form .field input:focus, 
.contact-form .field textarea:focus,
.dialog__content:before {
	border-color:#0fe0ba;
}
